body{
    font-family: 'Special Elite', 'cursive';
    background: cyan;
}

.header_div 
{
    background-color: blue;
    color:#8dda11 ;
}

.header_div img{
    width: 300px;
    height: 310px;
    }

.img-responsive {
    height: 300px;
    width: 310px;
}